---
layout: default
---

<div>
<article role="article">
<header>
	{% if page.title-image %}
		 <div id="landing-point" class="title-with-image">
			{% if page.title-image-2 %}
				<div id="cross-fade">
			{% endif %}
			<img src="{{ page.title-image }}"/>
			{% if page.title-image-2 %}
				<img src="{{ page.title-image-2 }}"/>
			{% endif %}
			{% if page.title-image-3 %}
				<img src="{{ page.title-image-3 }}"/>
			{% endif %}
			{% if page.title-image-4 %}
				<img src="{{ page.title-image-4 }}"/>
			{% endif %}
			{% if page.title-image-5 %}
				<img src="{{ page.title-image-5 }}"/>
			{% endif %}
			{% if page.title-image-2 %}
			</div>
			{% endif %}
				<div class="title-with-image-header">
					<h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>		
				</div>
				    {% unless page.meta == false %}
				      <div class="meta">
				      	{% if page.subtitle %}
				     	<p class="subtitle">{{ page.subtitle }}</p>
				    	{% endif %}
				        {% include post/date.html %}
				        {% if updated %}
				        	<p>Last updated on {{ updated | date: "%B %d, %Y" }}</p>
				        {% else %}
				        	<p>{{ time | date: "%B %d, %Y" }}
				        {% endif %}
				        {% if page.external-url %} | <a class="external-permalink" rel="full-article" href="{{ root_url }}{{ page.url }}">∞</a>{% endif %}</p>
				     </div>
				    {% endunless %}
		</div>
	{% else %}
		  {% if page.title %}
		    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
	      {% endif %}
	{% endif %}
</header>
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.sharing == true %}
        {% include post/sharing.html %}
      {% endif %}
    </footer>
  {% endunless %}
</article>
</div>
