{% capture category %}{{ post.categories | size }}{% endcapture %}
{% if post.external-url %}
<h1><a class="external-url" href="{{ root_url }}{{ post.url }}#landing-point">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %} | ∞</a></h1>
{% else %}
<h1><a href="{{ root_url }}{{ post.url }}#landing-point">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
{% endif %}
<p class="description">{{ post.description }}</p>
<div class="meta">
{% if post.updated %}
<p class="updated">Last updated on <b><time datetime="{{ post.updated | datetime | date_to_xmlschema }}" pubdate>{{ post.updated | date: "<span class='month'>%B</span> <span class='day'>%d</span>, <span class='year'>%Y</span>"}}</time></b></p>
{% else %}
<p class="updated">Last updated on <b><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%B</span> <span class='day'>%d</span>, <span class='year'>%Y</span>"}}</time></b></p>
{% endif %}{% if category != '0' %}
<p class="categories">published in {{ post.categories | category_links }}.</p>
{% endif %}
</div>