#footnotediv {
	position:absolute;
	width:400px;
	overflow:visible;
}

#footnotediv {
	background-color: white;
	font-size: 1.0em;
	color: #404040;
	padding: 25px 25px 25px 30px;
	border: 2px solid teal;
	border-radius:1em;
	box-shadow: 0 0 4px 0  #333;
	-webkit-box-shadow: #333 0 0 4px 0;
	-moz-box-shadow: 0 0 4px 0 #333;
	@media (prefers-color-scheme: dark) {
		background-color: #394147;
		color: #A9ABAD;
		border: 2px solid #A9ABAD;
		
	}
}

#footnotediv p {
	margin: 0;
	padding: 5px 0;
	line-height:1.5em;
}

a.footnotebacklink {
	border-bottom: none;
}

a.footnotebacklink img {
	margin: 0;
	padding: 0;
	border: 0;
}

#footnotecloselink {
	color: #888;
	text-decoration: none;
	text-align: right;
	margin: 0;
	padding: 10px 10px 5px 0;
	font-size: 1.0em;
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

sup a {
	margin: 0;
	padding: 0 4px 5px 4px;
}

sup {
	padding: 0;
}


#footnotediv  a{
   text-decoration: none;
font-weight: 600;
}
