// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*
-------------------------------------------------------------------------
Author: Vladi Gleba (vladigleba.com)
Date: October 2013

This layout is based on the following modular scale:

20px @ 1:1.618
62px @ 1:1.618

See http://modularscale.com/scale/?px1=20&px2=62&ra1=1.618&ra2=0
for the numbers in this scale. All font-size, line-height, margin, and
padding values are derived from these numbers.

See http://alistapart.com/article/more-meaningful-typography
to learn about modular scales.

-------------------------------------------------------------------------
*/


/* import typography */
@import "typography.scss";
/* import footnotes popover */
@import "footnotes.scss";
/* import responsive video embeds plugin */
@import "custom/rve";


// ------------------------------
// variables
// ------------------------------

$accent-color: #65a672;
$accent-hover-color: darken($accent-color, 8%);

$text-color: #4b4b4b;
$secondary-text-color: #aaa;

$line-color: #e6e6e6;
$hide-line-numbers: true;

$border-radius-size: 4px;
$border-style: 2px solid $secondary-text-color;


// ------------------------------
// shared styles
// ------------------------------

.default-line-height {
  line-height: 1.7rem;
}

.font-size-smallest {
  font-size: 14.637px;
  font-size: 0.732rem;
}

.font-size-small {
  font-size: 16.773px;
  font-size: 0.839rem; /* 0.732 + 0.107 */
}

.font-size-medium {
  font-size: 18px;
}

.font-size-large {
  font-size: 32.36px;
  font-size: 1.618rem;
}

.font-size-largest {
  font-size: 38.319px;
  font-size: 1.916rem;
}

.margin-bottom-large {
  margin-bottom:25px; 
}

.margin-bottom-larger {
  margin-bottom: 52.358px;
  margin-bottom: 2.618rem;
}

.margin-bottom-largest {
 margin-bottom: 100px;
}

.block-padding {
  padding: 1px 32.360px;
  padding: 1px 1.618rem;
}

.border-style {
  border-top: 2px solid $secondary-text-color;
}

.code-keywords {
  background-color: #e8e8e8;
  border-radius: $border-radius-size;
  padding: 0 5.591px;
  padding: 0 0.28rem;
}

.button {
  @include transition(all 0.3s ease 0s);
  border-radius: $border-radius-size;
  background-color: $accent-color;
  color: #fff;
  
  &:hover {
    background-color: $accent-hover-color;
    color: #fff;
  }
}

.code-font {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
}

.sans-serif-font-bold {
  font-family: "atrament-web", "Helvetica Neue", Arial, sans-serif;
}

.sans-serif-font {
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.default-font {
  font-family: "futura-pt", Georgia, Times, "Times New Roman", serif;
}


// ------------------------------
// general styles
// ------------------------------

html {
  @extend .default-font;
  @extend .font-size-medium;
  border-top: 8px solid $accent-color;
  line-height: 1;
}

body {
  -webkit-text-size-adjust: none; /* prevent mobile safari from resizing text */
  background-image: url("/images/background.jpg");
  background-repeat:repeat; 
  color: $text-color;
  text-align: left;
  width:1000px;
  margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 100%;
  	border: 1px #4b4b4b solid;
}

img.screenshot {
  	border: none;
  	margin-bottom: 0px;
  	margin-top: 0px;
}

h1, h2, h4, h5, h6 {
  @extend .sans-serif-font-bold;
  text-rendering: optimizeLegibility;
}

h3 {
  @extend .sans-serif-font;
  @extend .default-line-height;
  text-rendering: optimizeLegibility;
}

a {
  color: #4b4b4b;
  text-decoration: none;
  outline: none;
  @include transition(color 0.3s ease 0s);
  
  &:hover {
    color: $accent-hover-color;
  }
}
/*
a:visited, a.visited {
  color: #663366; }*/

a.analog, a.analog:visited {
	display:inline-block;
	color: #4b4b4b;
	//margin-left:80px;
	padding-top:10px;
	font-family: "LamplighterScript", Georgia, serif;
	font-size: 125px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
 	line-height: 60%;
	text-transform:none;
	text-shadow: white 0px 2px 1px;
	vertical-align:middle;
  }
  
  a.senses, a.senses:visited{
  	display:inline-block;
    color: #4b4b4b;
	font-size: 77px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 20px;
 	line-height: 60%;
	text-transform: none;
	text-shadow: white 0px 2px 1px;
	vertical-align:middle;
  }
  
  a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: auto;
    max-width: 100%;
  	border: 1px #4b4b4b solid;
  }

center{
	@extend .margin-bottom-large;
	}

#main {
  clear: both;
  width:100%;
  margin:auto;
}

aside,
.mobile-nav,
.subscription {
  display: none;
}

section {
  @extend .margin-bottom-largest;
}

blockquote {
  @extend .block-padding;
  @extend .margin-bottom-large;
  @extend .default-line-height; 
  @extend .font-size-medium;
  margin-left:200px;
  border-left: $border-style;
  font-style: normal;
  color: #4b4b4b;
  
  footer {
    @extend .default-font;
    text-align: right;
    
    a {
      text-decoration: underline;
    }
  }
}

blockquote > :last-child { 
	margin-bottom: 0 !important;
}

cite, em, i, dfn {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

abbr {
  border-bottom: 1px dotted #000;
}

small {
  font-size: 16px;
  font-size: 0.8rem;
}

mark {
  background-color: #ffff66;
}

sup, sub {
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.6rem;
}

sub {
  bottom: -0.4rem;
}

img#portrait {
  float: right;
  border-radius: 125px;
  margin-left: 20px;
  margin-left: 1rem;
  width: 240px;
}


// ------------------------------
// code
// ------------------------------

figure.code { 
  @extend .font-size-small;
  @extend .code-font;
  
  figcaption {
    margin: 4px 0 10px;
    line-height: 23.683px;
    line-height: 1.184rem;
    text-align: right;
    
    a {
      margin-left: -3px;
      text-decoration: underline;
    }
    
    span, a {
      @extend .code-keywords;
      display: inline-block;
      
      &:empty {
        display: none;
      }
    }
  }
  
  .highlight {
    overflow: auto;
  }
}

pre {
  @extend .block-padding;
  @extend .font-size-small;
  @extend .code-font;
  @extend .margin-bottom-large;
  text-align: left;
  line-height: 18px;
  
  &.line-numbers {
    @if $hide-line-numbers == true {
      display: none;
    }
  }
}

// ------------------------------
// navigation
// ------------------------------

nav {
  border-top: $border-style;
/*  overflow: auto;
  padding: 14.637px 0;
  margin-bottom: 50.316px;*/
    overflow: auto;
    max-width: 700px;
  	margin:auto;
  	padding: 14.637px 20px;
  	padding: 0.732rem 20px;
  	margin-bottom: 70px;
  
  // ----- search form -----
  
  form {
    float: right;
    
    input.search {
      @extend .font-size-smallest;
      border: none;
      background-color: #f2f2f2;
      padding: 9.046px 14.637px;
      padding: 0.452rem 0.732rem;
      border-radius: $border-radius-size;
      width: 180px;
    }
  }
  
  // ----- navigation links -----
  
  ul {
    float: left;
    margin-top: 5px;
    line-height: 25px;
    
    li {
      text-transform:uppercase;
      font-size: 18px;
      //@extend .default-font;
      font-family: "futura-pt";
      display: inline;
      font-weight: normal;
      padding-left:10px;
      text-shadow: white 0px 1px 0px;
    }
    
    li + li {
      padding-left: 23.683px;
      padding-left: 1.184rem;
    }
  }
}

/*
nav a, .meta a, h1 a, .copyright a, nav a:visited, .meta a:visited, h1 a:visited, .copyright a:visited {
  	color:#4b4b4b;
}

nav a:hover, .meta a:hover, h1 a:hover {
  color: $accent-hover-color; }

nav a:visited:hover, .meta a:visited:hover, h1 a:visited:hover {
  color: #663366; }
*/


// ------------------------------
// blog structure
// ------------------------------

body {
  
  // ----- blog header -----
  
  > header {
  	//background-image: url("/images/header_retina.png");
  	background-size: 750px 180px;
    background-repeat: no-repeat;
    background-position:right;
    padding: 48px 0 30px 0;
    
    hgroup{	
    //padding-right:300px;
    text-align: center;
    	
	    h1 {
	      font-size: 62.000px;
	      font-size: 3.1rem;
	      font-weight: bold;
	      text-transform: uppercase;
	      margin-bottom: 7.640px;
	      margin-bottom: 0.382rem;
	      
	      a, a:hover {
	        color: $text-color;
	      }
	    }
	    
	    h2 {
		    //display:none;
		    //@extend .default-font;
		    padding-top:12px;
		    color: #4B4B4B; 
		    font-size: 16px;
			//font-style: normal;
			font-variant: medium;
			font-weight: medium;
			height: 8px;
			line-height: 8px;
			
			outline-color: #6B6967;
			outline-style: none;
			outline-width: 0px;
		
			text-align: center;
			//text-transform: uppercase;
			margin-left:290px;
			text-shadow: white 0px 1px 0px;
	    }
    }
  
  }
  
  // ----- blog content -----
  
  .blog-index > article {
    margin-bottom:60px;
  } 
  
  .blog-index > .post-separator{
    display: block;
    margin-left: auto;
    margin-right: auto;	
    text-align:center;
    margin-bottom:60px;
    text-shadow: white 0px 1px 0px;

  }
  
  section h1 {
    display: none;
  }
  
  // ----- pagination -----
  
  .pagination {
  	max-width: 700px;
  	margin:auto;
    @extend .sans-serif-font-bold;
    font-size:25px;
    text-align:center;
    position:relative;
    padding: 23.683px 0;
    padding: 1.184rem 0;
    margin-bottom: 30px;
    border-top: $border-style;
    
    a.prev{
		position:absolute;
		left:0;    
	}

    a.next{
    	position:absolute;
    	right:0;	
    }
    
    span {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }
  
  // ----- blog footer -----
  
  > footer {
    @extend .margin-bottom-larger;
    clear: both;
    text-align:center;
    text-shadow: white 0px 1px 0px;
    
    p {
      font-size:14px;
      @extend .sans-serif-font;
      color: $secondary-text-color;
      line-height: 20px;
      line-height: 1rem;
      text-aling:center;
      
      a {
        text-decoration: underline;
      }
    }
  }
}


// ------------------------------
// archives page
// ------------------------------

#blog-archives {
  width: 600px;
  margin: auto;
  margin-bottom: 100.316px;
  margin-bottom: 5.016rem;
  text-shadow: white 0px 1px 0px;
  
  h2 {
  	margin-left: 0px;
    @extend .sans-serif-font-bold;
    color: $secondary-text-color;
    font-size: 50.22px;
    font-size: 2.511rem; /* 2.618 - 0.107 */
  }
  
  article {
    margin-bottom: 60px;
    
    h1 {
      font-size: 38.319px;
      font-size: 1.916rem;
      line-height: 44px;
      line-height: 2.2rem;
      padding-bottom: 4.722px;
      padding-bottom: 0.236rem;
      margin:65px 0 10px 0;
      
      a{
      	font-size:38px;
      	}
    
   	  a.external-url{
    	font-size:28px;
    	}
    }    
  }
  
  time, footer {
    @extend .font-size-medium;
    @extend .sans-serif-font;
    color: $secondary-text-color;
    display: inline;
  }
  
  time:after {
    content: "•";
    padding: 0 6px 0 10px;
    padding: 0 0.3rem 0 0.5rem; /* not from scale */
  }
}


// ------------------------------
// search results page
// ------------------------------

#search_results {
  article {
    margin-left: 0;
    margin-top: 20px;
    margin-top: 1rem;
    
    > a {
      display: none;
    }
    
    p {
      margin-top: 14.637px;
      margin-top: 0.732rem;
    }
    
    time:after {
      content: none;
    }
  }
}


// ------------------------------
// blog post
// ------------------------------

article {
  @extend .margin-bottom-largest;
  
  // ----- post's header -----
  
  header {
    @extend .margin-bottom-large;
    
    h1 {
      font-size: 45.959px;
      font-size: 2.298rem; /* 1.916 + 0.382 */
      margin-bottom:10px;
      margin-left:200px;
      margin-right:200px;
      line-height: 52.96px;
      line-height: 2.648rem; /* 1.916 + 0.732 */
      text-shadow: white 0px 1px 0px;
      
      a {
        color: $text-color;
      }
      a:hover {
        color: $accent-hover-color;
      }
      
    }
    
    h1.external-title{
    margin-bottom:5px;
  	font-size:30px;
  		a{
  		font-size:30px;
  		}
  	}
    
    a.external-permalink{
    	font-size:120%;
    	text-decoration:none;
    }
    
    
    p.meta {
      @extend .font-size-medium;
      @extend .sans-serif-font;
      margin-left:200px;
      margin-right:200px;
      color: $secondary-text-color;
      font-weight:normal;
      line-height: 1.184rem;
      text-align: left;
      text-shadow: white 0px 1px 0px;
      
      time {
        @extend .margin-bottom-large;
      }
      
      > span:before, > span:after {
        padding: 0 4px;
        padding: 0 0.2rem; /* not from scale */
        content: "•";
      }
    }
  }
 
  // ----- post's content -----
 
 .entry-content{
 	margin-bottom: 60px;
 }
 
 .entry-content .footnotes {
 		width: 600px;
 		margin: auto;
 		margin-top: 40px;	
 	}
 
 .entry-content .footnotes ol {
 		margin-top: 40px;		
 	}
  
  h1 {
    @extend .margin-bottom-large;
    font-size: 39px;
    margin-top: 65.000px;
    margin-left:200px;
    margin-right:200px;
    text-shadow: white 0px 1px 0px;
  }
   
  h2 {
    font-size: 30.56px;
    font-size: 1.528rem; /* 1.618 - 0.09 */
    text-transform: none;
    margin-top: 40px;
    margin-bottom:20px;
    text-shadow: white 0px 1px 0px;
    margin-left:200px;
    margin-right:200px;
    line-height:1.4;

  }
  
    h3 {
    font-size: 18px;
    //font-size: 1.528rem; /* 1.618 - 0.09 */
    text-transform: none;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom:10px;
    text-shadow: white 0px 1px 0px;
    margin-left:90px;
    margin-right:90px;

  }
  
  ul, ol {
    @extend .block-padding;
    @extend .default-line-height;
    margin-bottom: 30px;
    padding-left: 210px;
    text-align: left;
    margin-left: 20px;
    margin-left: 1rem;
    color:#000;
    
    li {
    	margin-bottom:10px;
    	}

    li p{
    	margin-bottom:10px;
    	margin-left: 20px;
    	}
    	
    li:last-child, ol:last-child { 
      margin-bottom: 0; 
    }	
    
    li:last-child p, ol:last-child p { 
      margin-bottom: 0; 
    }
    
    a {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
  
  blockquote ul, blockquote ol {
    padding-left: 10px;
  }	
    
  p {
    @extend .default-line-height;
    @extend .margin-bottom-large;
    @extend .font-size-medium;
    margin-left:200px;
    margin-right:200px;
    text-align: left;
    color:#000;
    
    a {
      text-decoration: underline;
    }
  }
  
  p > code, li code {
    @extend .code-keywords;
    @extend .code-font;
    font-size: 17.56px;
    font-size: 0.878rem; /* 0.732 + 0.146 */
  }
  
  p.photo-credit{
  	text-align:center;
  	font-style: italic;
  	margin-bottom: 45px;
  	}
  	
  p.card-separator{
  	text-align:center;
  	}
  	

  // ----- post's footer -----
  
  footer {
    @extend .sans-serif-font-bold;
    padding-top: 0px;
    text-shadow: white 0px 1px 0px;
    font-size:25px;
    
    > span > a {
      text-decoration: underline;
    }
    
    > p.meta {
      @extend .sans-serif-font-bold;
      font-size:25px;
      overflow: auto;
      padding-bottom: 38.319px;
      padding-bottom: 1.916rem;
            
      &:first-child {
      	@extend .sans-serif-font;
        font-size:14px;
        @extend .margin-bottom-large;
        padding-bottom: 14.637px;
        padding-bottom: 0.732rem;
        border-bottom: $border-style;
        
        time:after, span.author:after {
          content: "•";
          padding: 0 6px 0 10px;
          padding: 0 0.3rem 0 0.5rem; /* not from scale */
        }
      }
    }
    
    a.basic-alignment {
      text-decoration: none;
      width: 45%;
      display: block;
      line-height: 29px;
      
      &.left {
        float: left;
        text-align: left;
      }
      
      &.right {
        float: right;
        text-align: right;
      }
    }
  }
  
  
  // 'read on' button
  > footer > a {
    /*@extend .button;
    padding: 0.452rem 0;
    padding: 9.046px 0;
    display: block;
    width: 35%;
    margin: 0 auto;*/
  }
}

blockquote p{
	margin-left:0;
}
  
  
  
  p.extra-width {
  width: 100%;
  max-width: 740px; 
  margin: auto;
  padding:0;
  margin-bottom: 40px;
  margin-top: 40px;
  }

img.extra-width {
  display: block;
  width:100%;
  max-width: 740px;
  margin: 0 auto;
  height: auto; 
}

  p.full-width {
  width: 100%; 
  margin: auto;
  padding:0;
  margin-bottom: 45px;
  margin-top: 45px;

}
  
  img.full-width {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: auto; 
}

  p.full-width-screenshot {
  width: 100%; 
  margin: auto;
  padding:0;
  margin-bottom: 0px;
  margin-top: 0px;

}
  
  img.full-width-screenshot {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: auto; 
}

img.borderless {
  border:none;
}
 
   .entry-content .footnotes ol {
 		padding-left:20px;		
	 	padding-right:20px;		
 	}
 	
   .entry-content .footnotes ol p{
 		margin-left:20px;		
	 	margin-right:20px;
	 	margin-bottom:20px;		
 	}
 	
 	.entry-content.embed-video-container{
 		max-width: 700px;
 		margin: auto;
 		}
 	
 	 	

// ------------------------------
// media queries
// ------------------------------

@media screen and (max-width: 1000px) {
  
  #main {
  	clear: both;
  	width:auto;
  	padding-left:30px;
  	padding-right:30px;
  }
  
  body {
  	width:auto;
  }
  
  nav{
  	max-width: 700px;
  	margin:auto;
  	padding: 14.637px 20px;
  	padding: 0.732rem 20px;
  	margin-bottom: 70px;
	
  }
  
  article header h1, article header h2, article header p.meta, article h1, article h2, article h3, article p {
	margin-bottom: 25px;
	width: 600px;
	margin: auto;	 
  }
  
  article header p.meta{
	margin-top: 10px;	
  }
   
  .entry-content {
   	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;
     
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .entry-content h2{
  	margin:auto;
  	width:600px;
  	margin-bottom: 20px;
  	margin-top: 40px;
  	}
  
  .entry-content p{
  	margin:auto;
  	//width:600px;
  	margin-bottom: 25px;
  	}
  	
article blockquote {
  	margin: auto;
  	width: 540px;
  	margin-bottom: 30px;

  }

article blockquote p{
  	width: 540px;
  }

article ul, article ol {
  	margin: auto;
  	width: 540px;
  	margin-bottom: 20px;
  	padding-left: 20px;
  	margin-bottom: 30px;
  }
  
article ul p, article ol p {
  	width: 540px;
  	margin: auto;
  	margin-left: 20px;
  	padding-left: 20px;
  }
  

 article .entry-content .footnotes {
 		margin: auto;
 		width: 600px;		
 	}

article #blog-archives {
	h2 {
	 margin-top: 40px;	
	}
    article {
    	
      margin-left:0px;
      margin-right:0px;  
      h1 { 
        margin-left:0px;
        margin-right:0px;       
      }
    }
  }

  .blog-index .pagination{
  	max-width: 700px;
  	margin: auto;
  	margin-bottom: 30px;
  	
  	}

}

// -----------------------------------------

@media screen and (max-width: 750px) {
  html {
    font-size: 106%;
  }
  
  #main {
  	clear: both;
  	width:auto;
  }
  
  body {
  	//width:90%;
    > header {
    	background-image:none;
	  	hgroup{  	
	      padding:20px 0 10px 0;
	      position:relative;
	      text-align:center;	      
	      a.analog{
		  	text-align:center;
		  	margin:0px;
		  	margin-right: 15px;
		  	font-size:160px;
	  	  }	  	
	  	  a.senses{
		  	text-align:center;
		  	margin:0px;
		  	font-size:100px;  	
  		  }	      
	      h2{
	      	display:none;	
	      }
	  	}   
     }
  }
  
  nav {
  	text-align: center;
    border-top: none;
    margin-bottom: 44.401px;
    margin-bottom: 2.618rem;
    
    ul {
      border-top: 2px solid #808080;
      padding: 16.96px 0;
      padding: 1rem 0;
      
      li{
  		padding-left:0px;
  	  }
      
    }
    
    ul, form {
      width: 100%;
      margin: 0 auto;
    }
    
    form {
      margin-bottom: 20.08px;
      margin-bottom: 1.184rem;
      
      input.search {
        font-size: 15.349px;
        font-size: 0.905em; /* 0.732 + 0.173 */
      }
    }
  }
  
  nav input.search,
  article > footer > a {
    width: 50%;
  }
  
  article header h1, article header h2, article header p.meta, article h1, article h2, article h3, article p, blockquote, article ul, article ol {
 width: 90%;
 margin: auto;
  }
  
  article blockquote {
  	//margin: auto;
  	width: 90%;
  	margin-left: 30px;
  	padding-left: 0px;
  	margin-bottom: 30px;

  }
  
  article ul, article ol {
    //margin: auto;
  	width: 90%;
  	//margin-bottom: 20px;
  	margin-left: 50px;
    padding-left: 0px;
    margin-bottom: 30px;
  }
  
  article blockquote p{
  	width: 90%;
  	margin: auto;
  }
  
  article ul p, article ol p {
  	width: 90%;
  	margin: auto;
  	padding-left:0px;
  }
  
  article header p.meta{
	margin-top: 10px;	
  }

  .entry-content {
   	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;
     
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  
  .entry-content h2{
  	width: 90%;
  	margin: auto;
  	margin-top: 30px;
  	margin-bottom: 20px;		

  	}

 article .entry-content .footnotes {
 	margin: auto;
 	width: 90%;
 	}

article #blog-archives {
    width: 90%;
    margin: auto;
    
    h2{
     margin-top: 40px;	
    	}
    
    article {
      margin-left:0px;
      margin-right:0px;  
      h1 { 
        margin-left:0px;
        margin-right:0px;       
      }
    }
  }

  .blog-index .pagination{
  	margin-left:0;
  	margin-right:0;
  	}
}

// ------------------------------

@media screen and (max-width: 480px) {
	#main {
  		clear: both;
  		width:auto;
  		padding-left:10px;
  		padding-right:10px;
	}
 	
  	body > header {
  		hgroup{
		    padding: 10px 50px 0 50px;
		    position:relative;
		    text-align:center;

			a.analog{
				padding: 10px 0 10px 15px;
		 		font-size:120px;
		 		margin:0px;
		 		text-align:center;
		 	}
		 	a.senses{
		 		padding: 10px 0 10px 0;
		 		font-size:80px;
		 		margin:0px;
		 		text-align:center;
		 	}
		    
		    h2 {
		      font-size: 15.349px;
		      font-size: 0.905rem; /* 0.732 + 0.173 */
		    }
  		}
  	}
  
  nav {
    margin-bottom: 32.495px;
    margin-bottom: 1.916rem;
    text-align: center;
    
    ul {
      padding: 12.415px 0;
      padding: 0.732rem 0;
      
      li {
        font-weight: normal;
      }
      
      li + li {
        padding-left: 7.66px;
        padding-left: 0.452rem;
      }
    }
    
    form {
      margin-bottom: 16.96px;
      margin-bottom: 1rem;
    }
  }
  
  nav input.search,
  article > footer > a {
    width: 70%;
  }
  
  #blog-archives {
    width: 90%;
    margin: auto;
    
    h2 {
      margin-top: 40px;
      font-size: 40.161px;
      font-size: 2.368rem;
    }
    
    article {
    margin-left: 0;
    margin-right:0;
    
      h1 {
        font-size: 27.441px;
        font-size: 1.618rem; 
        margin-left:0px;
        margin-right:0px;       
      }
    }
  }
  
  .blog-index > article {
    margin-bottom: 60px !important;
    // margin-bottom: 5.016rem !important; /* 4.236 + 0.452 */
  }
  
  img#portrait {
    display: block;
    float: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  article {
    header {
      h1 {
        font-size: 35.495px;
        font-size: 1.916rem;
        line-height: 37.244px;
        line-height: 2.196rem; /* 1.916 + 0.28 */
      }
       h1.external-title{
       	font-size: 28px;
        a{
        	font-size: 28px;		
        }      	
       }
    }
    
    footer > p.meta {
      font-size: 16.417px;
      font-size: 0.968rem; /* 0.732 + 0.236 */
    }
    
    .entry-content {
     -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;
     
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    
      h1 {
        font-size: 26.559px;
        font-size: 1.566rem; /* 1.184 + 0.382 */
        line-height: 32.495px;
        line-height: 1.916rem;
      } 
            
      h2 {
        font-size: 23.015px;
        font-size: 1.357rem; /* 1.184 + 0.173 */
      }
    }
   article .entry-content .footnotes {
 		margin-left:0;
 		margin-right:0;		
 	} 
  }
  
  .blog-index .pagination{
  	margin-left:0;
  	margin-right:0;
  	}
  	
  footer{
  	width: 80%;
  	margin: auto;
  	
  	p {
  	 line-height: 170%;
  	}
  	
  }
  
}